<div class="home__container">
	<app-card
		gameCoverURL="../../../assets/bt-5.jpg"
		gameLabel="EXCLUSIVE"
		gamePrice="R$ 299,99"
		gameType="DIGITAL PS4"
	></app-card>
	<app-card
		gameCoverURL="../../../assets/bt-hardline.jpg"
		gameLabel="NEW"
		gamePrice="R$ 149,99"
		gameType="DISC PS5"
	></app-card>
	<app-card
		gameCoverURL="../../../assets/bt-1.jpg"
		gameLabel="EXCLUSIVE"
		gamePrice="R$ 129,99"
		gameType="DISC PS4"
	></app-card>
	<app-card
		gameCoverURL="../../../assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gamePrice="R$ 329,99"
		gameType="DIGITAL PS5"
	></app-card>
</div>
